Poster.png
Poster.sketch
Poster.svg
followeddata.json
followeriddata.json
node_modules/
server_practice.js
tweeteddata.json
grabbedtweets.json
grabbedtweets2.json
latlongdata.json
poster/
test/
public/
documentation_images
